body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {

  border-style: solid;
  border-color: #6b70d6;
  overflow: hidden;
  background-color: #ebf0ff;
}

.header a {
  display: flex;
  float: left;
  color: rgba(68, 68, 68, 0.67);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

.header a.logo {
  border-style: solid;
  border-color: #d6d02d;
  background-color: #fffcda;
  color: black;
}

.menu {
  flex-wrap: wrap;
  justify-content: center;
  border-style: solid;
  border-color: #5bd64c;
  background-color: #d6e6d2;
  width: 55%;
  height: 62px;
  margin-left: 80px;
}

.content {
  display: flex;
  padding-left:18px;
  border-style: solid;
  height: 300px;
  border-color: #6c137e;
  background-color: #eddbec;
}

.footer {
  display: flex;
  border-style: solid;
  border-color: #1cd6d6;
  overflow: revert;
  background-color: #d3f3f0;
  height: 100%;
}

.menuItem {
  display: flex;
  width: 25%;
  padding: 1px;
  flex-wrap: wrap;
  justify-content: center;
}

