header {
  width: 100%;
  background-color: #ebf0ff;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgba(68, 68, 68, 0.67);
  display: inline-block;

}

footer {
  justify-content: center;
  column-count: 4;
  background-color: rgba(91, 214, 76, 0.51);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgba(68, 68, 68, 0.67);
  display: flex;
}

.logo {
  font-size: 19px;
  background-color: rgba(158, 143, 176, 0.6);
  display: inline-block;
  padding: 10px;
  color: yellow;
}

.btnCont {
  margin-left: 20px;
}

.head1 {
  display: inline-flex;
  box-shadow: 4px 3px 12px 0 #a7a4a4;
}

.menu {
  width: 100%;
  margin: 0;
}

header ul div a {
  float: left;
  color: rgba(68, 68, 68, 0.67);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 19px;
  flex-wrap: nowrap;
}

.footer {
  display: flex;
  box-shadow: 4px 3px 12px 0 #a7a4a4;
}

.footeritems {
  justify-content: center;
  margin: 0 5%;
  width: 20%;
  height: 100px;
}

.footertext {
  text-align: justify;
  margin-right: 10px;
  margin-left: 45%;
  font-size: 10px;
}
footer a {
  color: rgba(68, 68, 68, 0.91);;
}
